$orange: #f7931e;
$s-orange: #fbc98e;
$blue: #005b8b;
$green: #00a99d;
$s-green: #7fd4ce;
$primary: #007bff;
$grey: #d6d6d6;

$grad: linear-gradient(45deg, rgba(0,71,108,1) 0%, rgba(0,91,139,1) 100%);

$sh: 0px 0px 5px rgba(0, 0, 0, 0.15);